*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #081b21;
    color: aliceblue;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 20px 10%;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.vasanth{
    position: relative;
    font-size: 25px;
    color: #9ab9ea;
    font-weight: 600;
    text-decoration: none;
}
.vasanth::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b21;
    animation: showright 1s ease forwards;
    animation-delay: .5s;

}

.navbar a{
    font-size: 18px;
    color: #88ace6;
    font-weight: 800;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color:rgb(27, 27, 249);
    font-size: 20px;
}
.home{
    height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home_content{
    max-width:60%;
}
.home_content h1{
    position: relative;
    font-size:55px;
    font-weight: 700;
    line-height: 1.5;
}
.home_content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b21;
    animation: showright 1s ease forwards;
    animation-delay:1s; 
}
.home_content h3{
    position: relative;
    font-size: 35px;
    font-weight: 700;
    color:#00abf0;

}
.home_content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b21;
    animation: showright 1s ease forwards;
    animation-delay:1.5s;
    
}
.home_content p{
    position: relative;
    font-size:20px;
    margin: 20px 0px 40px;
}
.home_content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b21;
    animation: showright 1s ease forwards;
    animation-delay:2s;
    
}
.home_content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
}
.home_content .btn-box ::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b21;
    animation: showright 1s ease forwards;
    animation-delay:2.5s;
    z-index: 2;
}

.btn-box a{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background:#081b21;
   
    border-radius: 8px;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    
}

/* .btn-box a:nth-child(2){
    background: transparent;
    color: #00abf;
}
.btn-box a:nth-child(2)::before{
    background-color: #00abf;
} */
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#00abf0;
    z-index: 2;
    /* transition: .2s;  */
    animation: showright 1s ease-out forwards;
    animation-delay:3s;
   
}
.btn-box a:hover{
    font-size: 22px;
}
.icon{
    position:absolute;
    bottom: 100px;
    width: 170px;
    display: flex;
    justify-content: space-between; 
    background: #081b21;
}
.icon::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showright 1s ease forwards;
    animation-delay:3.5s;
    z-index: 2;

}
.icon a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background:#081b49;
    /* border: 2px solid #00abf0; */
    border-radius: 50%;
    font-size: 20px;
    /* color:white; */
    /* text-decoration: none; */
    z-index: 1;
    overflow: hidden;
}
.icon a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    /* transition: -2s; */
}
.icon a:hover::before{
    width:100%;
    background: #00abf0;

    

}
.img{
    position: relative;
    top: 0;
    right: 30px;
    width:500px;
    height: 100%;
    background: transparent;
    background-image: url(/workspace/html/images/camera.jpg);
    background-position: right center;
    background-size: cover;
    opacity: 20%;
    opacity: .1;
    transition:3s;
    animation: man .1s forwards;
    animation-delay: 3s;
    pointer-events: none;
} 
.img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:;
    animation: showright 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}
@keyframes showright {
    100%{
        width: 0;
    }
}
@keyframes man {
    100%{
        pointer-events: auto;
    }
    
}